.login-pf div.container-fluid {
    bottom: 13%;
    padding-left: 80px;
    position: absolute;
    width: 100%;
    height: 197px;
    background-color: rgba(0, 0, 0, 0.65);
}

.login-pf div.details {
    border-left: 2px solid #474747;
}

.login-pf div.details a {
    margin-right: 15px;
}

.login-pf body {
    background-size: 100% auto;
    background: url("https://web.ccpgamescdn.com/newssystem/media/2979/3245/12.jpg") no-repeat 50% 0px #0C070B;
    color: #ffffff;
}

character-box {
    line-height: 21px;
    padding: 5px 5px;
}

character-box div.row {
    margin: 0px;
}

character-box-extended {
    line-height: 16px;
    font-size: 12px;
    padding: 10px 10px;
}

img.portrait {
    border-radius: 5px;
}

.apikey {
    margin-bottom: 100px;
}

character-box-extended div.row {
    margin: 0px;
    padding: 10px 0px;
}

character-box-extended div.skill-training {
    margin-top: 10px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}
span.mail-label {

}
div.spacer {
    margin: 20px 0px;
}

ul.nav-tabs {
    margin-bottom: 20px;
}

table.mail-table tr {
    margin-bottom: 10px;
}
span.mail-title {
    font-size: 16px;
}

mail-display dl.dl-horizontal dt {
    width: 50px;
}
mail-display dl.dl-horizontal dd {
    margin-left: 70px;
}

.number {
    font-family: monospace;
}
span.buy {
    color: #ff484d;
}

span.sell {
    color: inherit;
}

footer.legal-notice {
    height: 20px;
}