<div class="spacer"></div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <td>When</td>
            <td>Type</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Credit</td>
            <td>Client</td>
            <td>Where</td>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="trans in transactions | itemsPerPage: transactionsPagination.itemsPerPage" current-page="transactionsPagination.currentPage" total-items="transactionsPagination.total">
            <td>{{trans.transactionDateTime|date:'HH:mm MMM, dd yyyy'}}</td>
            <td>{{trans.typeName}}</td>
            <td class="text-right"><span class="number">{{trans.price|iskify}}</span> ISK</td>
            <td class="text-right"><span class="number">{{trans.quantity|humanify}}</span></td>
            <td class="text-right">
                <span ng-show="trans.transactionType == 's'" class="sell"><span class="number">{{trans.price*trans.quantity|iskify}}</span> ISK</span>
                <span ng-show="trans.transactionType == 'b'" class="buy"><span class="number">-{{trans.price*trans.quantity|iskify}}</span> ISK</span>
            </td>
            <td>{{trans.clientName}}</td>
            <td>{{trans.stationName}}</td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <dir-pagination-controls on-page-change="getTransactionPage(newPageNumber)"></dir-pagination-controls>
</div>