<ol class="breadcrumb">
    <li>
        <a ui-sref="characters">Characters</a>
    </li>
    <li class="active">
        <strong>{{character.name}}</strong>
    </li>
</ol>
<h1>{{character.name}}</h1>
<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref="characters.details.sheet({
                            characterID: character.characterID,
                            characterName: character.name
                        })">
            Character sheet
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="characters.details.skills({
                            characterID: character.characterID,
                            characterName: character.name
                        })">
            Skills
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="characters.details.wallet.balance({
                            characterID: character.characterID,
                            characterName: character.name
                        })">
            Wallet
        </a>
    </li>
</ul>
<div ui-view="tab"></div>