<div class="row">
    <div class="col-sm-8 col-md-9">
        <div class="page-header page-header-bleed-right">
            <h1 ng-show="capsuler.username">{{capsuler.username}} dashboard</h1>
        </div>
        <div ng-repeat="account in missingTraining" ng-show="missingTraining">
            <h2 class="text-danger">Account key {{account.keyID}} "{{account.name}}" has no active training.</h2>
            <ul class="list list-inline">
                <li>Associated characters:</li>
                <li ng-repeat="character in account.associated_characters">{{character.name}}</li>
            </ul>
        </div>
        <div>
            <h2>Characters</h2>
            <p ng-hide="characters.length > 0" class="text-center">
               No characters are registered yet :/
               Try adding some API keys in the menu to the top right.
            </p>
            <ul class="list-inline">
                <li ng-repeat="character in characters | orderBy: 'skillPoints':true" class="col-md-4 col-sm-12">
                    <character-box-extended character="character" skill="character.skillInTraining[0]"></character-box-extended>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">
        <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
            <h2 class="h5">Notifications</h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="note in notifications| orderBy: 'sentDate':true |limitTo: 10">
                <span class="badge">{{note.sentDate|date:'MMM dd, HH:mm'}}</span>
                <h4 class="list-group-item-heading">{{note.senderName}} <i class="fa fa-angle-double-right"></i> {{note.owner.name}}</h4>
                <p class="list-group-item-text">
                    {{note.parsed_message}}
                </p>
            </li>
        </ul>
        <ul class="pager">
            <li class="next">
                <button type="button" class="btn btn-default pull-left" ng-class="{newest: disabled}">
                    <span class="i fa fa-angle-left"></span>
                    Newer
                </button>
            </li>
            <li class="previous">
                <button type="button" class="btn btn-default pull-right" ng-class="{oldest: disabled}">
                    Older
                    <span class="i fa fa-angle-right"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
