<div class="row">
    <div class="col-md-2 sidebar-pf sidebar-pf-left">
        <div class="panel-group">
            <h2>Mail boxes</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href ng-click="charactersCollapsed = !charactersCollapsed"
                           ng-class="{collapsed: charactersCollapsed}">
                            Characters
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" collapse="charactersCollapsed"
                     ng-init="charactersCollapsed = false">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="isActive(character.name)"
                                ng-repeat="character in characters|orderBy: 'skillPoints':true">
                                <a href ng-click="toggleFilter(character.characterID)">
                                    {{character.name}}
                                    <i class="glyphicon glyphicon-ok pull-right"
                                       ng-show="filters[character.characterID]"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href ng-click="corporationsCollapsed = !corporationsCollapsed"
                           ng-class="{collapsed: corporationsCollapsed}">
                            Corporations
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" collapse="corporationsCollapsed"
                     ng-init="corporationsCollapsed = false">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="isActive(corporation.corporationName)"
                                ng-repeat="corporation in corporations|orderBy: 'corporationName':true">
                                <a href ng-click="toggleFilter(corporation.corporationID)">
                                    {{corporation.corporationName}}
                                    <i class="glyphicon glyphicon-ok pull-right"
                                       ng-show="filters[corporation.corporationID]"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href ng-click="alliancesCollapsed = !alliancesCollapsed"
                           ng-class="{collapsed: alliancesCollapsed}">
                            Alliances
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" collapse="alliancesCollapsed"
                     ng-init="alliancesCollapsed = false">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="isActive(alliance.allianceName)"
                                ng-repeat="alliance in alliances|orderBy: 'allianceName':true">
                                <a href ng-click="toggleFilter(alliance.allianceID)">
                                    {{alliance.allianceName}}
                                    <i class="glyphicon glyphicon-ok pull-right"
                                       ng-show="filters[alliance.allianceID]"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-default" ng-click="toggleAllFilters(true)">Toggle all</button>
        <button class="btn btn-default" ng-click="toggleAllFilters(false)">Clear</button>
    </div>
    <div class="col-md-5">
        <div class="spacer"></div>
        <form ng-submit="getMail()" class="seach">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search evemail..." ng-model="searchQuery">
                <div class="input-group-btn" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        {{searchLanguage}}
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                    <button type="submit" class="btn btn-default">Search</button>
                    <button type="button" class="btn btn-default" ng-click="searchReset()">Clear</button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="lang in searchLanguages.languages">
                            <a href ng-click="setLanguage(lang)">{{lang}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="spacer"></div>
        <button ng-click="markAllRead()" class="btn btn-default">Mark all as read</button>
        <em> Last updated: {{lastRefresh|date:'shortTime'}}.</em>
        <div class="spacer"></div>
        <table class="table table-hover mail-table">
            <tr dir-paginate="mail in mails | orderBy:orderField:true | itemsPerPage: 15" current-page="currentPage" ng-click="selectMail(mail)">
                <td ng-class="{active: activeMail===mail}">
                    <span class="mail-title" ng-class="mail.read ? '': 'text-bold'">{{mail.title}}</span><br>
                    {{mail.senderName}}
                </td>
                <td class="text-right" ng-class="{active: activeMail===mail}">
                    {{mail.sentDate|date:'HH:mm MMM, dd yyyy'}}
                </td>
            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
    <div class="col-md-5">
        <mail-display mail="activeMail"></mail-display>
    </div>
</div>
