<div class="flexbox-parent login-pf">
    <div class="flexbox-column">
        <div class="flexbox-item"></div>
        <div class="flexbox-item flexbox-item-grow">
            <div class="flexbox-row login">
                <div class="flexbox-item flexbox-item-grow">
                    <div class="text-center spacer">
                        <h2>Welcome to Armada</h2>
                    </div>
                    <a ng-click="startPolling()" ng-href="https://login.eveonline.com/oauth/authorize/?response_type=code&redirect_uri={{callbackURL}}&client_id={{clientID}}&state={{authToken}}&scope={{scopes}}" target="_blank">
                        <img src="img/eve_sso_button.png" alt="Log in with EVE SSO" />
                    </a>
                    <div class="text-center spacer" ng-if="waitingForSSO">
                        <div class="spinner-xl"></div>
                    </div>
                    <div class="cookie-box text-center" ng-if="!userDoesntHateCookies">
                        <p class="">
                            <strong>This site uses cookies.</strong> Yeah, cookies. We use them. They help keep you logged
                            in and store some state about which characters should be selected etc. By using this site, you
                            accept cookies storing some information to "enhance your browsing experience".
                        </p>
                        <div class="text-right">
                            <button type="button" class="btn btn-success" ng-click="iLikeCookies()">Got it</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexbox-item legal-notice">
            <i class="fa fa-copyright"></i> 2009-2016 by Vittoros, Kristian Berg | All <a ui-sref="legal">Eve
            Related Materials</a> are Property of <a href="https://ccpgames.com/">CCP Games</a> |
            <a ui-sref="legal">Legal Notice</a>
        </div>
    </div>

</div>