<div class="clearfix"></div>
<div class="small-spacing-top">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="page-header">
                <h1 ui-view="title">Assets</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <h4>Characters</h4>
                    <armada-id-selector selection="CharacterSelector.characterSelection"
                                        values="CharacterSelector.availableCharacters"
                                        display="'name'"
                                        identifier="'characterID'">
                    </armada-id-selector>
                </div>
                <div ui-view="toolbar"></div>
            </div>
        </div>
    </div>
    <div ui-view="main">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">wat</p>
            </div>
        </div>
    </div>
</div>