<ul class="nav nav-tabs nav-tabs-pf">
    <li ui-sref-active="active">
        <a ui-sref="characters.details.wallet.balance({characterID: character.characterID})">
            Balance
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="characters.details.wallet.transactions({characterID: character.characterID})">
            Transactions
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="characters.details.wallet.journal({characterID: character.characterID})">
            Journal
        </a>
    </li>
</ul>
<div ui-view="wallet"></div>