<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb" ng-if="location">
            <li>
                <a ui-sref="assets.browsing.locations({})">Locations</a>
            </li>
            <li>
                <a ui-sref="assets.browsing.location({locationIDs: location.regionID})">{{location.regionName}}</a>
            </li>
            <li>
                <a ui-sref="assets.browsing.location({locationIDs: location.solarSystemID})">{{location.solarSystemName}}</a>
            </li>
            <li class="active"><strong>{{location.name}}:</strong>
                {{location.value|shortify}} ISK, {{location.volume|shortify}} m<sup>3</sup>
            </li>
        </ol>
    </div>
    <div class="col-md-12" ng-if="loadingContainers">
        <div class="text-center">
            <div class="spinner"></div>
            <h2 class="text-muted">Loading station contents</h2>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="list list-unstyled inventory-container-list">
            <li ui-sref-active="active">
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3 container-icon">
                        <img src="img/ui/item-hangar.png" alt=""/>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        <a ui-sref="assets.browsing.inventory({
                            locationID: location.locationID,
                            containerID: 0
                            })">
                            Item hangar
                        </a>
                        <br>
                        <small>{{itemHangarValue|shortify}} ISK, {{itemHangarVolume|shortify}}
                            m<sup>3</sup></small>
                    </div>
                </div>
            </li>
            <li ui-sref-active="active" class="inventory-container"
                ng-repeat="container in itemHangarContainers|orderBy:AssetToolbar.assetOrdering:AssetToolbar.orderDirection">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 container-icon">
                        <img ng-src="{{container.typeID|eveImage64}}" class="rounded">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        <a ui-sref="assets.browsing.inventory({
                            locationID: location.locationID,
                            containerID: container.itemID
                        })">
                            {{container.itemName || container.name}}
                        </a>
                        <br>
                        <small>{{container.container_value|shortify}} ISK, {{container.container_volume|shortify}}
                            m<sup>3</sup></small>
                    </div>
                </div>
            </li>
            <li ui-sref-active="active">
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3 container-icon">
                        <img src="img/ui/ship-hangar.png" alt=""/>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        <a ui-sref="assets.browsing.inventory({
                            locationID: location.locationID,
                            containerID: 1
                            })">
                            Ship hangar
                        </a>
                        <br>
                        <small>{{shipHangarValue|shortify}} ISK, {{shipHangarVolume|shortify}}
                            m<sup>3</sup></small>
                    </div>
                </div>
            </li>
            <li ui-sref-active="active" class="inventory-container"
                ng-repeat="container in shipHangarContainers|orderBy:AssetToolbar.assetOrdering:AssetToolbar.orderDirection">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 container-icon">
                        <img ng-src="{{container.typeID|eveImage64}}" class="rounded">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        <a ui-sref="assets.browsing.inventory({
                                    locationID: location.locationID,
                                    containerID: container.itemID
                                })">
                            {{container.itemName || container.name}}
                        </a>
                        <br>
                        <small>{{container.container_value|shortify}} ISK, {{container.container_volume|shortify}}
                            m<sup>3</sup>
                        </small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div ng-if="loadingAssets" class="text-center spinner-container">
                <div class="spinner spinner-lg"></div>
                <h2 class="text-muted">Loading assets</h2>
            </div>
            <div ng-if="!loadingAssets">
                <div class="col-md-12">
                    <div ng-if="activeItem.category == 6">
                        <armada-ship-layout active-item="activeItem" contents="currentContainer" ordering="AssetToolbar.assetOrdering" direction="AssetToolbar.orderDirection" filter-text="filterText" display="AssetToolbar.inventoryDisplay"></armada-ship-layout>
                    </div>
                    <div ng-if="activeItem.category != 6">
                        <armada-inventory-icons contents="currentContainer" ordering="AssetToolbar.assetOrdering" direction="AssetToolbar.orderDirection" filter-text="filterText" ng-if="AssetToolbar.inventoryDisplay == 'icons'"></armada-inventory-icons>
                        <armada-inventory-table contents="currentContainer" ordering="AssetToolbar.assetOrdering" direction="AssetToolbar.orderDirection" filter-text="filterText" ng-if="AssetToolbar.inventoryDisplay == 'table'"></armada-inventory-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
