<div class="row">
    <div class="col-md-3">
        <img ng-src="https://image.eveonline.com/Character/{{character.characterID}}_64.jpg"
             alt="{{character.name}} portrait" class="rounded">
    </div>
    <div class="col-md-9">
        <ul class="list list-unstyled">
            <li><a ui-sref="characters.details.sheet({characterID: character.characterID})"><strong>{{character.name}}</strong></a></li>
            <li><a ng-href="">{{character.corporationName}}</a></li>
            <li><a ng-href="">{{character.allianceName}}</a>&nbsp;</li>
            <li>{{character.skillPoints|shortify}} skill points, {{character.balance|shortify}} ISK.</li>
        </ul>
    </div>
    <div class="col-md-12 skill-training">
        <ul class="list list-inline">
            <li class="pull-left">
                <ul class="list list-unstyled">
                    <li ng-show="skill.skillInTraining"><strong>{{skill.typeName}}</strong></li>
                    <li ng-hide="skill.skillInTraining" style="color: #D2413A">- No skill in training -</li>
                    <li ng-show="skill.skillInTraining">Skill Points: {{skill.trainingStartSP|humanify}} / {{skill.trainingDestinationSP|humanify}}</li>
                    <li ng-hide="skill.skillInTraining">&nbsp;</li>
                </ul>
            </li>
            <li class="pull-right">
                <ul class="list list-unstyled text-right" ng-show="skill.skillInTraining">
                    <li><strong>Level {{skill.trainingToLevel}}</strong></li>
                    <li>Finishes {{skill.trainingEndTime|date:'MMM d, HH:mm'}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>